.tabs {
    margin-left: 1.3rem;
    border: 1px solid #26669f;
    background-color: #204E74;
    height: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: -0.14rem;
    margin-right: 0.15rem;
    clear:both;
}

.tabs.hide-left {
    margin-left: 0.15rem;
}

.tabs > li {
    float: left;
    min-width: 0.9rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    color: #91bcc8;
    font-family: 'Microsoft YaHei';
    font-size: 0.18rem;
    height: 0.5rem;
    line-height: 0.5rem;
    margin-right: 0.45rem;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.tabs .suspend {
    color: #404040;
    cursor: default;
}

.tabs .suspend:hover {
    background-color: #d1ddda;
}

.tabs > li:first-child {
    margin-left: 0.225rem;
}

.tabs > li:hover {
    background-color: #78aabe;
}

.tabs > li.active {
    background-color: #003363;
    color: #fff;
    font-weight: bold;
    cursor: default;
}

.tabs li cite {
    position: absolute;
    top: -0.19rem;
    right: -0.195rem;
    width: 0.38rem;
    height: 0.39rem;
    z-index: 1;
    cursor: pointer;
    display: none;
    background-image: url(../images/close.png);
    background-size: 100% 100%;
}

.tabs li:hover cite {
    display: block;
}

.tabs li cite:hover {
    background-image: url(../images/close-hover.png);
}
