
.container .topbar{
    height:38px;
}

ul.bar-content{}
ul.bar-content li{
    float:left;
    width:220px;

}
ul.bar-content li label{
    margin-left:10px;
    margin-right:10px;
}

ul.bar-content li input{
    width:100px;
}

ul.bar-content li select{
    width:100px;
    height:22px;
}

.tb-edit{margin-left:39%;}
.tb-delete{margin-left:10%;}



#chart1{
    border:none;
    margin-left:1%
}

.kua{
    width:160px;
    height:12%;
    border:solid 1px #ccc;
    border-right:none;
    float:left;
    clear:left;
    padding-top:40px;
    text-align:center;
    font-size:24px;
    font-weight:600;
}

.kua-content{
    width:83%;
    float:left;
    height:20%;
    border:solid 1px #ccc;
}


.redK{
    background:no-repeat;
    background-image:url(../../../images/jichuang_red.png);
    width:70px;
    height:60px;
    cursor:pointer;
    margin-top:12px;
    margin-left:10px;
    float:left;
}

.yellowK{
    background:no-repeat;
    background-image:url(../../../images/jichuang_yellow.png);
    width:70px;
    height:60px;
    cursor:pointer;
    margin-top:12px;
    margin-left:10px;
    float:left;
}

.greenK{
    background:no-repeat;
    background-image:url(../../../images/jichuang_green.png);
    width:70px;
    height:60px;
    cursor:pointer;
    margin-top:12px;
    margin-left:10px;
    float:left;
}

.display{
    display:none;
}

#dianjishijian{
    color:#fff;
    width:200px;
    height:185px;
    border:solid 1px #ccc;
    background-color:#7126ea;
    position:absolute;
}

#dianjishijian p{
    font-size:12px;
    clear:both;





}

