


.panel{height:7.5rem;}

#grid1{
    height:4.45rem;
}

#allSelect{
    background:no-repeat;
    float:left;
    width:0.34rem;
    height:0.4rem;
    background-image:url(../../../images/icon-unchecked.png);
    background-position:10% 26%;
    cursor:pointer;
}

.topbar .ex-btn{margin-top:0.05rem;}

.ex-btn li .btn{
    margin-top:0.01rem;
}

.ex-btn li{margin-right:0.3rem;float:left;}

.bottom-btn{}

.bottom-btn li .btn{
    margin-top:0.01rem;
}

.bottom-btn li{margin-right:0.3rem;margin-left:0.2rem;float:left;margin-top:0.1rem;}


.checkBox{
    background-image:url(../../../images/icon-unchecked.png);

}

.checkBox.active{
    background-image:url(../../../images/icon-checked.png);
}








